
/*estilos de la cabecera */
.avatar{
    
    display: block;
    width: 180px;
}


  .navbar .container-avatar {
    
    height: 40px;
    width: 40px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 10px;
    
    
}

  .navbar .container-avatar img {
    
    height: 100%;
    width: 100%;
}



/* estilos de la pagina principal  */
   
    .container-avatar .avatar2{
       
    height: 40px;
    width: 40px;
    border-radius: 900px;
    overflow: hidden;
  
   }

    .pubimage .card-body{

      padding: 0px;


   }

 .image-container{
overflow: hidden;
  max-height: 400px;
  width: 100%;
 }

 .image-container img{

  width: 100%;
 }

  .pub-image-detail{

    max-width: 1500px;
 }





.pub_image .btn-coments{

  width: 100px;
  margin-bottom: 15px;
}

.likes{
  float: left;
  padding: 25px;
  padding-bottom: 0px;
  padding-top: 25px;
 
  
 
}


.likes img{

  width: 30px;

}